:root{
    --blue-400: #6D9EBE;
    --vinho-400: #27100E;
    --gray-800: #272b33;
    --blue-700: #001323;
    --vinhoAguoso-300: #27100E;
    --white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    background-color: var(--blue-700);
}

.navbar{
    display: flex;
    margin: 0 auto;
    display: flex;
    background-color: var(--blue-400);
    padding: 10px;
    justify-content: space-between;
}
.navbar-nav{
    display: flex;
    list-style: none;
}


/* main img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */
main{
    display: flex;
    background-image: url(../img/dragaoolho.png);
    width: 100%;
    height: 50.1vh;
    justify-content: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
    justify-content: center;
    align-items: center;
    
}
main h1{
    display: flex;
    color: #fff;
    text-align: center;
    font-size: 5.625rem;
    font-weight: 800;
    letter-spacing: 1rem;
}
footer{
    display: flex;
    background-color: var(--blue-400);
    justify-content: center;
    padding: 15px;
    color: #fff;
}
.btn{
    width: 120px;
    height: 50px;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-left: 25px;
    padding-right: 10px;
    margin-top: 10px;
    display: flex;
    /* border: 2px solid; */
    border-radius: 10px;
    color: var(--white);
    transition: all 0.2s;
    text-decoration: none;
    align-items: center;
}
.btn:hover{
    color: var(--blue-700);
    text-decoration: underline;
}
.nav-btn{
    width: 120px;
    height: 50px;
    padding-top: 13px;
    padding-left: 32.5px;
    margin-top: 10px;
    display: flex;
    border: 2px ;
    border: solid;
    border-radius: 10px;
    color: var(--white);
    transition: all 0.2s;
    text-decoration: none;
    text-align: center;

}
.nav-btn:hover{
    background-color: var(--blue-700);
    color: var(--white);
}

.character-container{
    background-color: var(--blue-700);
    color: var(--white);    
    padding: 2rem;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 1.5rem;
  }
  
  .character-box{
    display: flex;
    gap: 1rem;
    background-color: #6d9ebebd;
    border-radius: 8px;
    letter-spacing: 0.2rem;
    cursor: pointer;
    display: flex;
  }
  
  .character-box img{
    width: 50%;
    border-top-left-radius: 8px;  
    border-bottom-left-radius:  8px;
  }
  
  .character-info{
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      grid-auto-flow: 0.4rem;
      display: flex;
  }
  
  .character-info .character-link{
      color: var(--white);
      text-decoration: none;
      display: flex;
  }
.informaciones{
    text-decoration: none;
    color: #001323;
    display: flex;
}
@media screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    columns: 2;
    align-items: center;
    justify-content: center;

  }
  .navbar-nav {
    flex-direction: column 2;
  }

  .character-container {
    grid-template-columns: repeat(2, 2fr);
  }
  
  main h1{
    text-align: center;
    /* position: relative; */
    /* bottom: 100px; */
    padding-top: 0px;
    font-size: 30px;
    letter-spacing: 1rem;
}
}

@media screen and (max-width: 600px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }
    .navbar-nav {
      flex-direction: column;
    }
  
    .character-container {
      grid-template-columns: repeat(1, 1fr);
    }
    main h1{
        text-align: center;
        position: center;
        padding-top: 0px;
        font-size: 25px;
        letter-spacing: 1rem;
    }
  }
